table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #0a1a2f;
  color: #00bfff;
}

td,
th {
  vertical-align: middle;
}

button {
  margin-right: 5px;
}

input.form-control {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #00bfff;
}
