.add-quiz-form {
  background: #0a0f1a;
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #1e293b;
  color: white;
}

button {
  margin-top: 15px;
  background: #00aaff;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0077cc;
}
